<div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
      <li class="main"><a href="#"><i class="fa fa-fw fa-arrow-up"></i> Top of the Page</a></li>
    {% for toc_item in toc %}
        <li class="{% if toc_item.active %}active{% endif %}"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
        {% for toc_item in toc_item.children %}
            <li><a href="{{ toc_item.url }}">{{ toc_item.title }}</a>
            {% if toc_item.children %}
            <ul class="nav bs-sidenav">
            {% for toc_item in toc_item.children %}
                <li><a href="{{ toc_item.url }}">- {{ toc_item.title }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
          </li>
        {% endfor %}
    {% endfor %}
    </ul>
</div>
